@model PizzaBox.Client.Models.OrderViewModel

<div class="p-2"></div>
<h2>Please Make an Order</h2>
<div class="p-2"></div>

<form action="/order/create" method="post"> 

    @foreach(var item in Model.Sizes)
    {
        <label for="@item">@item</label>
        @Html.RadioButtonFor(m => m.SelectedSize, @item);
        
    }
    @* @Html.EditorFor(m => m.SelectedSize) <br /> *@
    @Html.ValidationMessageFor(m => m.SelectedSize, "", new { @class = "text-danger" })
    <div class="p-3"></div>

    @foreach(var item in Model.Crusts)
    {
        <label for="@item">@item</label>
        @* <input type="radio" id="" name="selectedcrust" value="@item"> *@
        @Html.RadioButtonFor(m => m.SelectedCrust, @item);
    }
    @Html.ValidationMessageFor(m => m.SelectedCrust, "", new { @class = "text-danger" })
    <div class="p-3"></div>



    @foreach(var item in Model.Toppings)
    {
        <label for="@item">@item</label>
        <input type="checkbox" id="" name="selectedtoppings" value="@item">
    
        @* @Html.CheckBoxFor(m => m.SelectedToppings, @item); *@
    }
    @* @Html.ValidationMessageFor(m => m.SelectedToppings, "", new { @class = "text-danger" }) *@

    <span asp-validation-for="SelectedToppings"></span>

    <div class="p-3"></div>
    <button type="submit" class="btn btn-primary">Order Pizza</button>
</form>









@* ^----HTML Way *@



@* If I do this then the label for selectedCrust/size/topping needs to be factored out *@
@* in the OrderViewModel, I think *@
@* Html.Partial("_NavBar", PizzaBox.Client.Models.OrderViewModel); *@


@* Notes on validation tag helpers *@
@* https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-5.0* *@